* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: aliceblue;
    font-family: "Dosis", serif;
    font-weight: 600;
}

html,
body {
    width: 100%;
 overflow-x: hidden;
 background-color: black;
}

.main {
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
.segmentMain{
    display: flex;
}

.main2 {
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    flex-direction: column;
}


#nav {
    /* background-image: linear-gradient(rgb(4, 167, 10), rgb(5, 129, 40),rgb(50, 114, 39), rgb(16, 138, 71)); */
    background-color: rgb(59, 59, 59);
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px ;
    border-radius: 0px 0px 5px 5px;
}

#logo {
    font-size: x-large;
}

#sub-nav {
    justify-content: space-around;
    display: flex;
    gap: 25px;
}
#sub-nav a {
    text-decoration: none;
}

.text {
    font-size: 60px;
    display: flex;
    flex-direction: column;

    padding: 5% 2%;
    width: 50%;
    text-transform: uppercase;
    line-height: 60px;
}



.text2 {
    font-size: 65px;
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    width: fit-content;
    text-transform: uppercase;
    line-height: 59px;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: radial-gradient(rgb(99, 99, 99), rgb(65, 65, 65), rgb(28, 28, 28), rgb(0, 0, 0));
}
.image img {
    position: relative;
   width: 10%;
    height: 99%;
    border-radius: 10px;
    object-fit: cover;
}
.main3{
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
   display: flex;
  align-items: center;
}
.main3 h3{
    padding: 0;
    margin: 0;
    color: black;
    font-size: 65vh;
    color: aliceblue;
}
.main5{
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100%;
   display: flex;
  align-items: center;
}
.main5 h3{
    padding: 0;
    margin: 0%;
    color: black;
    font-size: 65vh;
    color: aliceblue;
}
/* .main4{
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100%;
   display: flex;
  align-items: center;
}
.main4 h3{
    padding: 0;
    margin: 0%;
    color: black;
    font-size: 70vh;
    color: aliceblue;
} */

.logos {
    margin-top: 20px;
}
#element{
    padding-top: 5px;
    padding-left: 3px;
    font-size: 60px;
}
