/* * {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  font-family: "Dosis", serif;
  font-weight: 600;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  background-color: black;
}

.midImage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  overflow: hidden;

}

.midImage img {
  object-fit: contain;
  overflow: hidden;
 height: 100%;
}

.main {
  width: 100%;
  height: 99vh;
  background-color: black;
}

.segmentMain {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.main2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}


#nav {
  background-image: linear-gradient(rgb(4, 167, 10), rgb(5, 129, 40),rgb(50, 114, 39), rgb(16, 138, 71)); 
  background-color: rgb(45, 82, 5);
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  height: fit-content;
  color: aliceblue;
  border-radius: 0px 0px 5px 5px;
}

#logo {
  font-size: clamp(15px, 8vw, 30px);
}

#sub-nav {
  justify-content: space-around;
  display: flex;
  gap: 25px;
  font-size: clamp(10px, 5vw, 25px);
}

#sub-nav2 {
  width: 10%;
  height: 70%;
  object-fit: cover;
  display: none;
}

#sub-nav2 img {
  height: clamp(20px, 70%, 30px);
  width: clamp(20px, 70%, 30px);
  object-fit: contain;

}

#sub-nav a::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background: lightblue;
  transition: width 0.3s;
}

#sub-nav a:hover::after {
  width: 100%;
}

.text {
  font-size: 60px;
  display: flex;
  height: 300px;
  flex-direction: column;
  padding: 5% 2%;
  width: 50%;
  text-transform: uppercase;
  line-height: 60px;
}



.text2 {
  font-size: clamp(45px, 12vw, 65px);
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: 10vh;
  width: fit-content;
  text-transform: uppercase;
  line-height: (43px, 12vw, 63px);
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: radial-gradient(rgb(99, 99, 99), rgb(65, 65, 65), rgb(28, 28, 28), rgb(0, 0, 0));
}

.image img {
  position: relative;
  width: 10%;
  height: 99%;
  border-radius: 10px;
  object-fit: cover;
}

.main3 {
  background-color: black;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.main3 h3 {
  margin-top: 10vw;
  width: 100%;
  text-align: center;
  color: black;
  font-size: clamp(50px, 10vw, 70px);
  color: rgb(21, 21, 21);
}

#Resume {
  margin-left: 10%;
  border-radius: 10px;
  overflow: hidden;

  width: 90vw;

}

.main5 {
  background-color: black;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.main5 h3 {
  padding: 0;
  margin: 0%;
  color: black;
  font-size: 65vh;
  color: black;
}

/* .main4{
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100%;
   display: flex;
  align-items: center;
}
.main4 h3{
    padding: 0;
    margin: 0%;
    color: black;
    font-size: 70vh;
    color: aliceblue;
} */

/* .logos {
  margin-top: 20px;
}

#element {
  margin-top: 10px;
  padding-top: 5px;
  font-size: clamp(40px, 10vw, 50px);
}

.Resume {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#resumeDownloader {
  text-align: center;
  width: fit-content;
  background-color: rgb(23, 103, 1);
  padding: 10px 20px;
  border: none;
  font-size: clamp(10px, 8vw, 55px);
  border-radius: 50px;

}

#resumeDownloader:hover {
  background-color: rgb(23, 103, 1);
}

.resumeHeading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: clamp(40px, 8vw, 100px)
}

.Resume a {
  text-decoration: none;
  text-transform: capitalize;
}

#resumeDownloader :hover {
  background-color: slategrey;
} */

/* ================================
   Resume Blog Component (Scoped)
   ================================ */
/* .resume-blog {
  margin: 0 auto;
  font-family: "Dosis", serif;
  font-weight: 600;
  background-color: rgb(23, 103, 1);
  border: 1px solid rgb(59, 59, 59);
  padding: 20px;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  color: aliceblue;

}

.resume-blog h2 {
  margin-top: 0;
  font-size: 2rem;
  color: aliceblue;
}

.resume-blog .resume-summary {
  font-size: 1rem;
  color: rgb(200, 200, 200);
}

.resume-blog .resume-section {
  margin-top: 20px;
}

.resume-blog .resume-section h3 {
  margin-bottom: 8px;
  font-size: 1.3rem;
  color: aliceblue;
  border-bottom: 1px solid rgb(59, 59, 59);
  padding-bottom: 4px;
}

.resume-blog .resume-item {
  margin-bottom: 12px;
}

.resume-blog .resume-item strong {
  color: aliceblue;
}

.resume-blog .resume-item .date {
  font-size: 0.85rem;
  color: rgb(170, 170, 170);
}

.resume-blog ul {
  list-style: none;
  padding-left: 0;
}

.resume-blog ul li {
  margin-bottom: 6px;
  color: rgb(220, 220, 220);
}

.resume-blog .skills {
  color: rgb(200, 200, 200);
  font-size: 0.95rem;
}

.resume-blog .resume-footer {
  margin-top: 20px;
  font-size: 0.85rem;
  color: rgb(170, 170, 170);
}

.resume-blog .resume-footer a {
  color: #6ee7b7;
   Accent green 
  text-decoration: none;
}

.resume-blog .resume-footer a:hover {
  text-decoration: underline;
}

@media (max-width:800px) {
  .segmentMain {
    flex-direction: column-reverse;
  }

  .text {
    font-size: clamp(30px, 8vw, 50px);
    display: flex;
    flex-direction: column;
    padding: 5% 2%;
    width: 100%;
    height: 20vmax;
    text-transform: uppercase;
    margin-bottom: 5px;
    line-height: clamp(30px, 8vw, 50px);
  }

  .Resume {
    margin-top: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
  }

  .resume-blog {
    margin: 5px;
    font-family: "Dosis", serif;
    font-weight: 600;
    background-color: rgb(23, 103, 1);
    border: 1px solid rgb(59, 59, 59);
    padding: 20px;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    color: aliceblue;
  }

  .resumeHeading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: clamp(40px, 8vw, 50px);

  }

  #resumeDownloader {
    text-align: center;
    width: fit-content;
    background-color: rgb(103, 124, 108);
    padding: 10px 20px;
    border: none;
    font-size: clamp(10px, 5vw, 25px);
    border-radius: 50px;
    margin-bottom: 20px;
  }

  #Resume {
    margin: 5%;
    border-radius: 10px;
    overflow: hidden;

  }

  .midImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
  }

  .midImage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  #logo {
    font-size: clamp(15px, 6vw, 25px);
  }

  #sub-nav {
    display: none;
  }

  #sub-nav2 {
    position: relative;
    display: inline-block;

  }

}


#menu {
  background-color: rgba(10, 63, 115, 0.33);
  position: absolute;
  display: none;
  align-items: center;
  justify-content: space-around;
  left: -30px;
  top: 10;
  border-radius: 3px;
  font-size: 48%;
  height: 180%;
  width: 150%;
}  */

/* #sub-nav2:hover #menu{
 display: flex;
 flex-direction: column;
}
#sub-nav2:hov #menu{
 display: flex;
 flex-direction: column;
}
#menu:hover{
 display: flex;
 flex-direction: column;*/


/* ************* banner************ */


/* .banners{
  width: 100%; 
 
  height: 15vw;
  margin: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
 

.banner{
  width: 30%;
  height: 90%;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 15px;
}
.banner h1{
  font-size: clamp(20px,10vw,35px);
}
.banner p{
  font-size: clamp(20px,30vw,75px);
}
.hoverBanner{
  display: none;
  font-size: 8vh;
  text-align: center;
}
.banner:hover .hoverBanner {
display: inline-block;
} 
.banner:hover h1 , .banner:hover p {
display:none;
}  */



/* ================================================
   GLOBAL BASE STYLES
================================================ */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  color: whitesmoke ;
  font-family: "Dosis", serif;
  font-weight: 600;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  background-color: black;
}

/* ================================================
   NAVIGATION
================================================ */
#nav {
  background-color: rgb(45, 82, 5);
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  height: fit-content;
  color: aliceblue;
  border-radius: 0px 0px 5px 5px;
}

#logo {
  font-size: clamp(15px, 8vw, 30px);
}

#sub-nav {
  justify-content: space-around;
  display: flex;
  gap: 25px;
  font-size: clamp(10px, 5vw, 25px);

}

#sub-nav a {
  text-decoration: none;
}

#sub-nav a::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background: rgb(59, 183, 183);
  transition: width 0.3s;
}

#sub-nav a:hover::after {
  width: 100%;
}

#sub-nav2 {
  width: 10%;
  height: 70%;
  object-fit: cover;
  display: none;
}

#sub-nav2 img {
  height: clamp(20px, 70%, 30px);
  width: clamp(20px, 70%, 30px);
  object-fit: contain;
}

#menu {
  background-color: rgba(10, 63, 115, 0.33);
  position: absolute;
  display: none;
  align-items: center;
  justify-content: space-around;
  left: -30px;
  top: 10;
  border-radius: 3px;
  font-size: 48%;
  height: 180%;
  width: 150%;
}

/* ================================================
   HERO / INTRO SECTION
================================================ */
.main {
  width: 100%;
  height: 99vh;
  background-color: black;
}

.segmentMain {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;

}

.text {
  font-size: 50px;
  justify-items: center;
  align-items: center;
  display: flex;
  height: 300px;
  flex-direction: column;
  padding: 5% 2%;
  width: 55%;
  text-transform: uppercase;
  line-height: 60px;
  margin-bottom: 20px;
}

.text h3 {
  text-align: left;
  width: 100%;
  color:whitesmoke;
}

#element {
  color: whitesmoke;
  font-size: clamp(30px, 8vw, 50px);
}

.midImage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  overflow: hidden;
}

.midImage img {
  object-fit: contain;
  overflow: hidden;
  height: 100%;
}

/* ================================================
   STACK / LOGOS SECTION
================================================ */
.main2 {
  margin-top: 20vw;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text2 {
  font-size: clamp(45px, 12vw, 65px);
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: 10vh;
  width: fit-content;
  text-transform: uppercase;
  line-height: (43px, 12vw, 63px);
  
}
.text2 h3{
  color:whitesmoke ;
}

.logos {
  margin-top: 20px;
}

/* ================================================
   BANNERS SECTION
================================================ */
.banners {
  margin-top: 10%;
  width: 100%;
  height: 18vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.banner {
  width: 30%;
  height: 100%;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 15px;
 
}

.banner h1 {
  font-size: clamp(20px, 10vw, 35px);
  color: #000;
}

.banner p {
  color: olive;
  font-size: clamp(20px, 30vw, 65px);
}

.hoverBanner {
  display: none;
  font-size: 8vh;
  text-align: center;
  color: olive ;
}
.hoverBanner i {
color: olive ;
}

.banner:hover .hoverBanner {
  display: inline-block;
}

.banner:hover h1,
.banner:hover p {
  display: none;
}

/* ================================================
   ABOUT ME SECTION
================================================ */
.main3 {
  background-color: black;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.main3 h3 {

  margin-top: 10vw;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  font-size: clamp(50px, 10vw, 70px);
  
}

/* ================================================
   RESUME BLOG SECTION
================================================ */
.resume-blog {
  margin: 0 auto;
  font-family: "Dosis", serif;
  font-weight: 600;
  background-color: rgb(23, 103, 1);
  border: 1px solid rgb(59, 59, 59);
  padding: 20px;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  color: aliceblue;
}

.resume-blog h2 {
  margin-top: 0;
  font-size: 2rem;
  color: aliceblue;
}

.resume-blog .resume-summary {
  font-size: 1rem;
  color: rgb(200, 200, 200);
}

.resume-blog .resume-section {
  margin-top: 20px;
}

.resume-blog .resume-section h3 {
  margin-bottom: 8px;
  font-size: 1.3rem;
  color: aliceblue;
  border-bottom: 1px solid rgb(59, 59, 59);
  padding-bottom: 4px;
}

.resume-blog .resume-item {
  margin-bottom: 12px;
}

.resume-blog .resume-item strong {
  color: aliceblue;
}

.resume-blog .resume-item .date {
  font-size: 0.85rem;
  color: rgb(170, 170, 170);
}

.resume-blog ul {
  list-style: none;
  padding-left: 0;
}

.resume-blog ul li {
  margin-bottom: 6px;
  color: rgb(220, 220, 220);
}

.resume-blog .skills {
  color: rgb(200, 200, 200);
  font-size: 0.95rem;
}

.resume-blog .resume-footer {
  margin-top: 20px;
  font-size: 0.85rem;
  color: rgb(170, 170, 170);
}

.resume-blog .resume-footer a {
  color: #6ee7b7;
  text-decoration: none;
}

.resume-blog .resume-footer a:hover {
  text-decoration: underline;
}

/* ================================================
   RESUME IMAGE + DOWNLOAD SECTION
================================================ */
.Resume {
  margin-top: 20px;
  display: flex;
  padding: 10%;
  gap: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#Resume {

  border-radius: 10px;
  overflow: hidden;
  width: 90vw;
}

.resumeHeading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: clamp(40px, 8vw, 100px);
}

.Resume a {
  text-decoration: none;
  text-transform: capitalize;
}

#resumeDownloader {
  text-align: center;
  width: fit-content;
  background-color: rgb(23, 103, 1);
  padding: 10px 20px;
  border: none;
  font-size: clamp(10px, 8vw, 55px);
  border-radius: 50px;
}

#resumeDownloader:hover {
  background-color: rgb(23, 103, 1);
}

#resumeDownloader :hover {
  background-color: slategrey;
}

/* ================================================
   RESPONSIVE DESIGN
================================================ */
@media (max-width:850px) {
  
  .segmentMain {
    flex-direction: column-reverse;
  }

  .text {
    font-size: clamp(30px, 8vw, 50px);
    display: flex;
    flex-direction: column;
    padding: 5% 2%;
    width: 100%;
    height: 20vmax;
    text-transform: uppercase;
    margin-bottom: 5px;
    line-height: clamp(30px, 8vw, 50px);
    margin-bottom: 30px;
  }
  .text h3 {
  text-align: center;
  width: 100%;
  color:whitesmoke;
}

  .Resume {
    margin-top: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
  }

  .resumeHeading {
    font-size: clamp(40px, 8vw, 50px);
  }

  #resumeDownloader {
    background-color: rgb(103, 124, 108);
    font-size: clamp(10px, 5vw, 25px);
    margin-bottom: 20px;
  }

  #Resume {
    margin: 5%;
    border-radius: 10px;
    overflow: hidden;
  }

  .midImage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  #logo {
    font-size: clamp(15px, 6vw, 25px);
  }

  #sub-nav {
    display: none;
  }

  #sub-nav2 {
    position: relative;
    display: inline-block;
  }

  .resume-blog {
    margin: 0 10px;
  }

  /* ================================================
   BANNERS SECTION
================================================ */
  .banners {
    width: 100%;
    height: 15vmax;
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: black;
  }

  .banner {
    width: 30%;
    height: 100%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
  }

  .banner h1 {
    font-size: 5vw;
  }

  .banner p {
    font-size: 6vw;
    text-align: center;
  }

  .hoverBanner {
    display: none;
    font-size: 5vw;
    text-align: center;
  }

  .banner:hover .hoverBanner {
    display: inline-block;
  }

  .banner:hover h1,
  .banner:hover p {
    display: none;
  }
}

/* ================================================
   UNUSED / COMMENTED STYLES (KEPT FOR REFERENCE)
================================================ */

/* .main4{
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}
.main4 h3{
    padding: 0;
    margin: 0%;
    color: aliceblue;
    font-size: 70vh;
} */

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: radial-gradient(rgb(99, 99, 99), rgb(65, 65, 65), rgb(28, 28, 28), rgb(0, 0, 0));
}

.image img {
  position: relative;
  width: 10%;
  height: 99%;
  border-radius: 10px;
  object-fit: cover;
}

.main5 {
  background-color: black;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.main5 h3 {
  padding: 0;
  margin: 0%;
  color: whitesmoke;
  font-size: 65vh;
}